<app-header></app-header>

<section class="login-section">
  <a routerLink="/" class="volver-btn">
    <i class="fas fa-arrow-left"></i> Volver al inicio
  </a>
  <h2 class="login-title"><i class="fas fa-user"></i> Iniciar Sesion</h2>
  <flash-messages></flash-messages>
  <div class="login-container">
    <form (submit)="login()">
      <div class="form-group">
        <input type="email" class="form-input" name="email" [(ngModel)]="email" required>
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="form-group">
        <input type="password" class="form-input" name="password" [(ngModel)]="password" required>
        <label for="password" class="form-label">Contraseña</label>
      </div>
      <div class="btn-ingresar-container">
        <input type="submit" value="Ingresar" class="btn-ingresar">
      </div>
    </form>
  </div>
</section>

<app-footer></app-footer>